<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Video Game Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      :root {
        --max-width: 600px;

        --background-color: #f5f5f5;
        --text-color: #4a6163;
        --important-color: #f17a7e;
        --accent-color: #f9a66c;

        --semi-bold: 600;
      }

      a {
        color: var(--important-color);
      }

      abbr {
        font-style: italic;
      }

      body {
        background-color: var(--background-color);
        color: var(--text-color);
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
      }

      main {
        margin: 2em auto 0 auto;
        max-width: var(--max-width);
        padding: 0 1em;
      }

      /* My Swanky Intro */
      .intro {
        margin: 0 0 1em 0;
      }
      .intro__title {
        font-size: 2em;
        margin: 0 0 0.1em 0;
      }

      /* Search Filters Section */
      .search-filters {
        margin: 2em 0 1em 0;
      }
      .seach-filters__group {
        margin: 0.5em 0;
      }

      .search-filters__search {
        /* I'm not cool about adding this but Safari does not like adding the changes */
        -webkit-appearance: textfield;
        font-size: 1em;
        padding: 0.3em 0.5em;
      }

      .search-filters__checkbox {
        margin-right: 0.5em;
      }

      .search-filters__fieldset {
        border-color: var(--important-color);
        border-style: solid;
        border-width: 1px;
      }

      .search-filters__label {
        display: inline-block;
        margin: 0 1em 0.5em 0;
      }

      .search-filters__legend {
        font-weight: var(--semi-bold);
      }

      .search-filters__fieldset-footer {
        border-top: 1px solid var(--important-color);
        margin-top: .5rem;
        padding-top: .5rem;
      }

      .search-filters__button {
        font-size: 1rem;
        padding: .5rem;
      }

      /* Calendar Month Section */
      .calendar-month {
      }
      .calendar-month + .calendar-month {
        margin-top: 1.5em;
      }
      .calendar-month__title {
        background-color: var(--background-color);
        font-size: 1.5em;
        margin-top: 0;
        padding-top: 0.5em;
        position: sticky;
        top: 0;
      }
      .calendar-month__list {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .calendar-month__list-item {
        border-bottom: 1px dashed var(--important-color);
        margin: 0.5em 0;
        padding: 0 0 0.5em 0;
      }
      .calendar-month__list-item--is-hidden {
        display: none;
      }


      /* Calendar Entry Section */
      .calendar-entry {
        display: flex;
      }
      .calendar-entry__date {
        background-color: var(--accent-color);
        border-radius: 6px;
        border: 1px solid var(--important-color);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
        color: white;
        display: inline-block;
        flex: 0 0 auto;
        font-size: 1.1em;
        font-weight: bold;
        height: 35px;
        line-height: 35px;
        text-align: center;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        width: 35px;
      }
      .calendar-entry__date--has-past {
        background-color: var(--important-color);
      }
      .calendar-entry__content {
        flex: 1 1 auto;
        margin: 0 1em;
      }
      .calendar-entry__content p {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
      }
      .calendar-entry__platform-list {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.9em;
        list-style: none;
        margin: 0.3em 0 0 0;
        padding: 0;
      }
      .calendar-entry__platform-list-item {
        border-right: 1px solid var(--text-color);
        margin-right: 0.5em;
        padding-right: 0.5em;
      }
      .calendar-entry__platform-list-item:last-child {
        border-right: none;
        font-weight: 600;
        margin-right: 0;
        padding-right: 0;
      }
      .calendar-entry__score {
        flex: 0 0 70px;
        text-align: center;
      }
      .calendar-entry__score-label {
        font-size: 0.8rem;
        margin: 0;
      }
      .calendar-entry__score-value {
        font-weight: var(--semi-bold);
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <main>
      <header class="intro">
        <h1 class="intro__title">Video Game Release Calendar</h1>
        <p>I wanted a way to quickly see what games are coming out without having to faff around, visiting multiple sites to check if they're correct. I also wanted it dead simple, easy to read and easy to find games. This is that attempt.</p>
        <p>It pulls content from multiple sources and tries to group games together that are the same (not everyone writes release dates and games the same).</p>
        <p>Jump to <a href="#{{ currentMonth }}">today's month</a> or <a href="#now">the closest date to today</a>.</p>
        <p>Last updated on <time datetime="{{ lastUpdated }}"><strong>{{ lastUpdated }}</strong></time>. Aggregating content from {{ &utils.renderSourcesListFormat }}.</p>
        <p><small>* Metacritic and user scores are a mean value across all platforms.</small></p>
      </header>

      <details class="search-filters">
        <summary><strong>Search Filters</strong></summary>
        <form id="frm-filters">
          <div class="search-filters__group">
            <label class="search-filters__label">Search for game title: <input class="search-filters__search" type="search" name="txt-search" /></label>
          </div>
          <div class="search-filters__group">
            <fieldset class="search-filters__fieldset">
              <legend class="search-filters__legend">Select platforms to display:</legend>
              {{# platformCheckboxes }}
                <label class="search-filters__label"><input class="search-filters__checkbox" type="checkbox" checked name="chk-platform" value="{{ value }}" /> {{ label }}</label>
              {{/ platformCheckboxes }}
              <footer class="search-filters__fieldset-footer">
                <button class="search-filters__button" id="btn-select-checkboxes" type="button">
                  Select all checkboxes
                </button>
                <button class="search-filters__button" id="btn-unselect-checkboxes" type="button">
                  Unselect all checkboxes
                </button>
              </footer>
            </fieldset>
          </div>
        </form>
      </details>
      
      {{# calendar.months }}
        <section class="calendar-month">
          <h2 class="calendar-month__title" id="{{ name }}">{{ name }}</h2>
          <ol class="calendar-month__list">
            {{# entries }}
              <li class="calendar-month__list-item {{ utils.entryGetPlatformClasses }}" {{# utils.entryIsNow }}id="now"{{/ utils.entryIsNow }} data-game-title="{{ name }}">
                <div class="calendar-entry">
                  <time class="calendar-entry__date {{# utils.entryDateHasPast }}calendar-entry__date--has-past{{/ utils.entryDateHasPast }}" datetime="{{ utils.entryDateToISOString }}">
                    {{ utils.entryGetDate }}
                  </time>
                  <div class="calendar-entry__content">
                    <p>{{ name }}</p>
                    <ul class="calendar-entry__platform-list">
                      {{# platforms }}
                        <li class="calendar-entry__platform-list-item">
                          <abbr title="{{ name }}">{{ shortName }}</abbr>
                        </li>
                      {{/ platforms }}
                    </ul>
                  </div>
                  {{# scores }}
                  <div class="calendar-entry__score">
                    <p class="calendar-entry__score-label">{{ label }}<sup>*</sup></p>
                    <div class="calendar-entry__score-value">{{ value }} </div>
                  </div>
                  {{/ scores }}
                </div>
              </li>
            {{/ entries }}
          </ol>
        </section>
      {{/ calendar.months }}
    </main>
  </body>
  <script type="text/javascript">
    (function () {
      let previousPlatformSelector = null;

      document.forms['frm-filters'].addEventListener('input', function () {
        if (previousPlatformSelector !== null) {
          document
            .querySelectorAll(previousPlatformSelector)
            .forEach((node) => {
              node.classList.remove('calendar-month__list-item--is-hidden');
            });
        }

        const frmData = new FormData(this);
        const baseSelector = '.calendar-month__list-item';

        // Title search
        const gameTitleSearch = frmData.get('txt-search').trim();
        let gameTitleSelector = '';
        if (gameTitleSearch !== '') {
          // Check if data-game-title attribute contains our title case
          // insensitive
          gameTitleSelector = `[data-game-title*="${gameTitleSearch}"i]`;
        }

        // Append on platform classes
        let platformSelector = frmData
          .getAll('chk-platform')
          .map((value) => `${gameTitleSelector}.has-platform-${value}`)
          .join(', ');

        let listItemSelector = `${baseSelector}:not(${platformSelector})`;
        if(!platformSelector) listItemSelector = baseSelector;

        document.querySelectorAll(listItemSelector).forEach((node) => {
          node.classList.add('calendar-month__list-item--is-hidden');
        });
        previousPlatformSelector = listItemSelector;
      });

      function setCheckboxes(checked){
        document
          .getElementsByName('chk-platform')
          .forEach((el) => (el.checked = checked));
        const inputEvent = new Event('input', {
          bubbles: true,
          cancelable: false,
        });
        document.forms['frm-filters'].dispatchEvent(inputEvent);
      }

      document
        .getElementById('btn-select-checkboxes')
        .addEventListener('click', function () {
          setCheckboxes(true);
        });

      document
        .getElementById('btn-unselect-checkboxes')
        .addEventListener('click', function () {
          setCheckboxes(false);
        });
    })();
  </script>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
    rel="stylesheet"
  />
</html>
