<div class="video-game-card" id="{{ id }}">
  <h4 class="video-game-card__title">{{ title }}</h4>
  <footer class="video-game-card__footer">
    <div class="platform-list">
      <div class="platform-list__icon">
        <svg viewBox="0 0 29 18" xmlns="http://www.w3.org/2000/svg">
          <use href="#controller" />
        </svg>
      </div>
      <ul class="platform-list__list">
        {{# platforms }}
          <li class="platform-list__item">
            <abbr title="{{ name }}">{{ shortName }}</abbr>
          </li>
        {{/ platforms }}
      </ul>
     </div>
     {{# publisher }}
     <div class="publisher">
       <span class="publisher__icon">
          <svg viewBox="0 0 22 18" xmlns="http://www.w3.org/2000/svg">
            <use href="#book" />
          </svg>
       </span>
       <span class="published__name">
         {{ . }}
       </span>
     </div>
     {{/ publisher }}
     {{# metacritic }}
      <div class="metacritic">
       <span class="metacritic__icon">
        <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <use href="#letter-m" />
        </svg>
       </span>
       <span class="metacritic__value">100</span>
      </div>
      {{/ metacritic }}
   </footer>
 </div>